@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F1FAEE;
}

.AdminPage {
    background-color: #A8DADC;

    max-width: 1000px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
}

.StudentPage {
    background-color: #A8DADC;

    max-width: 1000px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
  }
  
.MainPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #A8DADC;

    max-width: 1000px;
    margin: 30px auto;
    overflow: auto;
    max-height: 100%;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
  }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  background-color: #A8DADC;
}

.Button {
    display: inline-block;
    background: #1D3557;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
.BackButton {
    display: inline-block;
    background: #E63946;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    position: absolute;
    top:0;
    left: 0;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.Task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  max-width: 500px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.TaskInputField {
  margin: 20px 0;
  display: block;
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}